.idea/
.venv/
__pycache__/
*.safetensors
*.pth
*.tar.gz
*.png
*.txt
*.jsonl
torch_check.py
openDataSet/mvtec_ad_1/
openDataSet/mvtec_ad_2/
agu_img/
prep_img/
diffusers/

DataAgumentation/modelA_NOW/outputs/

*.code-workspace

DataAgumentation/hf_token.py